# MongoDB Atlas Database URI (Optional)
MONGODB_URI=your_mongodb_atlas_uri

# Telegram Bot configurations for Instant Alerts
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
